
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  background: #dae0e6;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

button {
  position: relative;
  color: white;
  background-color: black;
  border: none;
  padding: 6px 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline-color: transparent;
}

button:after {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  top: 5px;
  height: 15px;
  width: 15px;
  left: 0;
  transition: all 0.2s ease;

}

button:hover {
  box-shadow: 0 0 20px rgb(255, 255, 255);
  border-radius: 30px;
  transition-delay: 0.1s;
}

button:active {
  box-shadow: 0 0 60px rgb(255, 255, 255);
  transition: 0.1s ease;
}

button:hover:after {
  left: 100%;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  box-shadow: 15px -15px 20px rgb(255, 255, 255);
}

p{
  font-size: 1.2rem;
}

