::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input,
textarea {
  background: transparent;
  border-radius: 1px;
  outline-color: black;
}
input:hover,
textarea:hover{
  background: rgba(255,255,255,0.5);
  border-radius: 7px;
  color: black;

}
button{
  padding: 1px 10px;
  color: white;
  outline: none;
}

label{
  font-size: 1.2rem;
  font-weight: bold;
}

